@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

.body {
  font-family: "Montserrat",Sans-serif;
  color: #283747;
  background-color: #fff;
}
