.notificationBar ul {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}

.icon {
 height: 1.1rem; 
 margin-left: 0.4rem;
}

.notificationBar ul li {
  margin: 0.4rem; /* Agrega espacio entre los elementos */
}

.CentralBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 105px;
  margin: 0.4rem;
}

.CentralBar img {
  height: 5rem;
}

.CentralBar .rightSide {
  display: flex;
  align-items: center;
}

.bottonBar {
  display: flex;
  font-size: 0.85rem;
  border: solid 0.1px grey;
  border-width: 0.1px 0;
  justify-content: space-around;
  align-items: center;
}

.searchBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem;
  border-right: solid 0.1px grey;
}

.productDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.4rem;
}

@media (min-width: 667px) {
  .banner {
    display: flex;
    flex-wrap: wrap;
  }
}